@media screen and (max-width: 768px) {
  /* ________ MENU FIXED ________*/
  nav .col-lg-8 ul {
    display: none;
  }

  nav.row {
    padding-right: 50px;
    padding-left: 20px
  }

  nav .col-xs-7 img {
    height: 2em;
  }

  nav .col-xs-1 i {
    font-size: 2.5em;
  }
  /* ________ FINE MENU FIXED ________*/

  /* ________ HEADER ________*/
  h1 {
    font-size: 2.5em;
  }
  /* ________ FINE HEADER ________*/

  /* ________ MAIN ________*/
  /* Sezione Mobility */
  main .mobility .row {
    max-width: 100%;
  }

    main .mobility .row .box {
      margin: 7% 15%;
  }
  /* Fine Sezione Mobility */

  /* Sezione Phone */
  main .phone .row .col-xs-12:nth-of-type(1) {
    padding: 30% 0 0 5%;
    font-size: 25px;
  }

  main .phone .row .col-xs-12:nth-of-type(3) {
    padding: 10% 0 30% 5%;
    font-size: 20px;
  }

  main .phone .row .iphone {
    width: 320px;
    top: 40%;
  }
  /* Fine Sezione Phone */

  /* Sezione City */
    main .city .row {
      max-width: 100%;
    }

  /* row up */
  main .city .row.down .col-xs-12 {
    max-width: 100%;
    height: 500px;
  }

  main .city .row.up .col-xs-12:first-of-type {
    background-size: 400%;
    background-position: 34%;
  }
  /* fine row up */

  /* row down */
  main .city .row.up .col-xs-12 .text {
    left: 50%;
    width: 80%;
  }

  main .city .row.down .col-xs-12:nth-of-type(1) img {
    width: 70%;
    left: 15%;
  }

  main .city .row.down .col-xs-12:nth-of-type(2) {
    margin-left: 0;
    margin-top: 3%;
  }
  /* fine row down */
  /* ________ FINE MAIN ________*/

  /* link */
  footer .container .link .col-lg-3 img {
    width: 130px;;
  }

  /* ________ FOOTER ________*/
  footer .container .link .col-lg-3 h4 {
    margin-top: 2em;
  }
  /* fine link */
  /* ________ FINE FOOTER ________*/
}
