/* ________ RESET ________*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ________ FIINE RESET ________*/

/* ________ REGOLE GENERALI ________*/
body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  color: #212529;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* ________ FINE REGOLE GENERALI ________*/

/* ________ MENU FIXED ________*/
nav.row {
  max-width: 100%;
  background-color: white;
  text-align: center;
  padding: 1.5em 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2345678;
}

nav.row img {
  vertical-align: middle;
}

nav .menu-fixed li {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0 0.8%;
}

nav .menu-fixed li:nth-child(1n+9) {
  border-left: 1px solid #212529;
}
 /* ________ FINE MENU FIXED ________*/

/* ________ HEADER ________*/
header {
  position: relative;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  color: white;
  text-align: center;
  line-height: 2;
  font-weight: bold;
}

header .jumbo {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 90%;
}

header h1 {
  font-size: 3.5em;
}

header .jumbo ul li {
  display: inline-block;
  margin-top: 1.5em;
}
/* ________ FIINE HEADER ________*/

/* ________ MAIN ________*/
/* Sezione Mobility */
main .mobility .row {
  max-width: 100%;
  margin: 0 5%;
  text-align: center;
}

main .mobility .row .box {
  background-color: #fafafa;
    margin: 7% 5%;
    padding-top: 10%;
}

main .mobility .row .box img {
  width: 100%;
}

main .mobility .row .box img.helbiz {
  width: 50%;
}
main .mobility .row .box > p {
  margin: 5% 0;
}
/* Fine Sezione Mobility */

/* Sezione Phone */
/* Fine Sezione Phone */

/* Sezione City */
/* Fine Sezione City */

/* Sezione Social */
/* Fine Sezione Social */
/* ________ FINE MAIN ________*/

/* ________ FOOTER ________*/
/* ________ FINE FOOTER ________*/

@media screen and (min-width: 993px) {
  nav .col-md-1 i,
  nav .col-xs-1 i {
    display: none;
  }
}
